@media screen and (max-width: 1482px){
        .picker-color {
        margin-top: 30px;
    }

}
@media screen and (max-width: 1389px){
    .container-plan img {
        max-width: 115px;
        height: auto;
        max-height: 97px;
    }
}
@media screen and (max-width: 1381px){
        .picker-color {
        margin-top: 17px;
    }
        .wrapper-counter {
        margin-top: 25px;
    }
}
@media screen and (max-width: 1325px){
    .ton-click .color-item, .color-click .color-item {
        width: 146px;
        height: 58px;
    }

}
@media screen and (max-width: 1302px){
    .container-plan {
        padding: 20px;
    }

}
@media screen and (max-width: 1290px){
    .container-plan img{
        max-width: 235px;
    }
    .price-title, .price-title span {
        font-size: 55px;
    }
}
@media screen and (max-width: 1279px){
    .number,
    .pay-btn{
        height: 47px;
    }

}
@media screen and (max-width: 1263px){
    .color-click{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1250px){
    .container-card {
        flex-direction: column;
    }
    .container-plan img{
        max-width: 245px;
    }
    .picker-color {
        margin-top: 50px;
    }
    .price-title, .price-title span {
        font-size: 50px;
    }
    .left-wrapper-light-box, .right-wrapper-card-block {
        width: 100%;
    }
    .body-card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header-card {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
    .name-title {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .wrapper-list-options {
        max-width: 100%;
    }
    .big-slide,
    .top-block-info{
        height: auto;
    }
    .big-slide .flex-viewport {
        top: inherit;
        transform: none;
    }

}
@media screen and (max-width: 1140px){
    .body-card-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container-info-center {
        width: 100%;
        justify-content: space-between;
    }
    .container-plan img {
        max-width: 300px;
    }
    .header-card {
        margin-bottom: 20px;
    }
    .list-plan {
        margin-left: 0;
    }
}
@media screen and (max-width: 937px){
    .item-option-color {
        max-width: 17.3%;
    }
    .option-color-list {
        margin: 25px 10px;
    }
    .flex-direction-nav .flex-next,
    .flex-direction-nav .flex-prev{
        opacity: 0.3;
    }
    .flex-direction-nav .flex-next:hover, .flex-direction-nav .flex-prev:hover {
        opacity: 1;
    }
     .size-popup{
        max-width: 80%;
    }
}
@media screen and (max-width: 703px){
    .item-option-color {
        max-width: 21.3%;
    }
    .wrapper-option-color-list{
         max-height: 459px;
        overflow-y: auto;
    }
}
@media screen and (max-width: 678px){
    .container-info-center {
        flex-direction: column;
    }
    .container-plan {
        margin-left: 0;
        margin-top: 30px;
    }
}
@media screen and (max-width: 620px){
    .wrapper-img-size {
        padding: 19px;
    }
    .sub-list-plan-img {
        margin-left: 14px;
        display: flex;
    }
}
@media screen and (max-width: 580px){
    .wrapper-img-size img {
        max-width: 150px;
    }

 }
@media screen and (max-width: 535px){
    .wrapper-img-size img {
        max-width: 140px;
    }
}
@media screen and (max-width: 516px){
    .item-option-color {
        max-width: 44.3%;
    }
    .wrapper-counter,
    .wrapper-button-pay{
        display: flex;
        flex-direction: column;
    }
    .counter-number,
    .number,
    .wrapper-button-pay{
        width: 100%;
        max-width: 100%;
    }
    .counter-number{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .pay-one-click{
        margin-left: 0;
        margin-top: 15px;
    }
    .minus, .plus,
    .input-counter{
        width: 30%;
    }
    .ton-click .color-item, .color-click .color-item {
        width: 146px;
        height: 59px;
    }

}
@media screen and (max-width: 500px){
    .title-color{
        margin-right: 20px;
    }
    .social-link {
        width: 34px;
        height: 34px;
    }

}
@media screen and (max-width: 487px){
    .picker-color {
        margin-top: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    .title-color {
        margin-bottom: 15px;
    }
    .bottom-info-center{
        width: 100%;
    }
    .option-name-color, .option-name {
        margin-left: 15px;
        font-size: 12px;
    }
    .wrapper-option-variant .title-color {
        margin-right: 13px;
        font-size: 14px;
        min-width: 93px;
    }
    .wrapper-img-size {
        padding: 15px;
    }
     .wrapper-img-size img {
        max-width: 120px;
    }

}

@media screen and (max-width: 419px){
    .wrapper-img-size img {
        max-width: 106px;
    }
}

@media screen and (max-width: 416px){
    .wrapper-option-variant {
        align-items: flex-start;
        flex-direction: column;
    }
      .option-name-color, .option-name {
        margin-left: 0;
        margin-bottom: 20px;
    }
     .color-click{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 395px){
    .social-link {
        width: 30px;
        height: 30px;
    }
    .header-card {
        flex-direction: column;
        align-items: flex-start;
    }
    .name-title {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 380px){
    .sub-list-plan-img {
        margin-left: 10px;
    }
    .div-popup, .div-popup-1, .div-popup-2{
        padding: 20px;
    }
    .size-popup {
        max-width: 100%;
        width: 87%;
    }
}
@media screen and (max-width: 365px){
    .top-block-info {
        padding: 15px;
    }
    .flexslider {
        padding: 15px;
    }
    .wrapper-img-size img {
        max-width: 112px;
    }
}
@media screen and (max-width: 355px){
    .container-plan img {
        max-width: 103px;
    }
}
@media screen and (max-width: 344px){
    .wrapper-img-size img {
        max-width: 88px;
    }
}
@media screen and (max-width: 342px){
    .social-list {
        flex-wrap: wrap;
    }
    .social-item {
        margin-top: 10px;
    }
    .wrapper-img-size {
        margin-left: 14px;
    }
}
